@import url(norm.css);
@import url(ionicons.css);
@import url(font-awesome.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:900");

html, body {
    font-family: sans-serif;
    font-size: 20px;
    background: #ffffff;
}

body {
    min-width: 500px;
    height: 100%;
    padding: 5% 15%;
}

header {
    text-align: center;
}

header p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #666666;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: #ffcc00;
    font-size: 60px;
    line-height: 59px;
    margin: 0;
    padding: 10px 0 41px;
}

header span {
    position: relative;
}

header span .ion-bonfire {
    color: #ffcc00;
    font-size: 20px;
    line-height: 20px;
}

header span:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 30px;
    width: 210px;
    height: 2px;
    background: #ffcc00;
}

header span:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 30px;
    width: 210px;
    height: 2px;
    background: #ffcc00;
}

main {
    margin-top: 30px;
    width: 100%;
    height: 560px;
    font-size: 0;
    position: relative;
}

main .col6 {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 50%;
}

main .col6 .photoSection {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 2;
    border: 1px solid #ffcc00;
    height: 70%;
    min-width: 90%;
    background: #ffffff url("../img/photo.jpg") center;
    background-size: cover;
}

main .col6 .photoSection .photoFrameTopLeft {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -15px;
    left: -15px;
    border: 1px solid #ffcc00;
    border-right: none;
    border-bottom: none;
}

main .col6 .photoSection .photoFrameTopRight {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -15px;
    right: -15px;
    border: 1px solid #ffcc00;
    border-left: none;
    border-bottom: none;
}

main .col6 .photoSection .photoFrameBotRight {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -15px;
    right: -15px;
    border: 1px solid #ffcc00;
    border-left: none;
    border-top: none;
}

main .col6 .photoSection .photoFrameBotLeft {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -15px;
    left: -15px;
    border: 1px solid #ffcc00;
    border-right: none;
    border-top: none;
}

main .col6:first-of-type {
    border-right: 1px solid #ffcc00;
}

main .infoSection {
    font-size: 14px;
    text-align: center;
    color: #666666;
    font-family: "Raleway", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 10%;
}

main .infoSection h2 {
    position: relative;
    font-size: 36px;
    font-family: "Roboto Black", sans-serif;
}

main .infoSection h2:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 100px;
    background-color: #ffcc00;
}

main .infoSection h3 {
    font-size: 24px;
    font-weight: 400;
}

main .infoSection i {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #bfbfbf;
    background-color: #ffffff;
    border: 2px solid #bfbfbf;
    border-radius: 50%;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 28px;
}

main .infoSection i:hover {
    border-color: #ffcc00;
    background-color: #ffcc00;
    color: #ffffff;
}

main .infoSection p {
    line-height: 24px;
    padding: 10px;
}

main .infoSection .separator {
    position: relative;
    margin: 0 auto;
    width: 20px;
    height: 4px;
    background-color: #ffcc00;
}

main .infoSection .separator:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: #ffcc00;
    left: -15px;
}

main .infoSection .separator:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: #ffcc00;
    right: -15px;
}

main .infoSection .profileButton {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 26px auto;
    width: 120px;
    height: 20px;
    line-height: 20px;
    background-color: #ffffff;
    color: #666666;
    border: 2px solid #ffcc00;
}

main .infoSection .profileButton:hover {
    background-color: #ffcc00;
    color: #ffffff;
}

main .arrowButtonLeft {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -30px;
    width: 15px;
    height: 15px;
    border: 2px solid #ffcc00;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
}

main .arrowButtonLeft:hover {
    border-color: #cca300;
}

main .arrowButtonRight {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: -30px;
    width: 15px;
    height: 15px;
    border: 2px solid #ffcc00;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
}

main .arrowButtonRight:hover {
    border-color: #cca300;
}

nav {
    width: 100%;
    height: 92px;
    line-height: 92px;
    text-align: center;
}

nav .navButton {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    background-color: #ffcc00;
    border: 1px solid #ffcc00;
    border-radius: 50%;
}

nav .navButton:hover {
    background-color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
