$mainColor: #19264e;
//$mainColor: #2d3e64;
$secondColor: #ffffff;


body {
  font-family: "Segoe UI", sans-serif;
  header {
    font-family: "Segoe UI", sans-serif;
    height: 40vh;
    background: $mainColor url("../img/bg-logo.png") right no-repeat;
    background-size: 30%;
    position: relative;
    .contacts-top {
      padding-top: 30px;
      margin-left: 100px;
      color: $secondColor;
      p {
        padding-right: 30px;
      }
    }
    .main-header {
      margin: 0;
    }
    h1 {
      text-shadow: 0 0 10px $mainColor;
      font-family: "Trebuchet MS", sans-serif;
      color: $secondColor;
      font-size: 2rem;
      margin: 3% auto 0;
      position: relative;
      text-align: right;
      display: inline-block;
      span {
        position: absolute;
        right: 0;
        top: -20px;
        font-size: 1rem;
      }
    }
    .navbar {
      position: absolute;
      left: 100px;
      top: 70%;
      background: none;

      .navbar-brand {
        font-size: 1rem;
        padding: 0 15px 0 0;
        margin: 0;
      }
      a {
        color: $secondColor;
      }
      .collapse {
        //background: $mainColor;
        color: $secondColor;
        .nav-item {
          font-size: 1rem;
          margin: 0;
          color: $secondColor;

        }
      }
      .dropdown {
        .dropdown-toggle {
          &:after {
            vertical-align: 0.05em;
          }
        }
        .dropdown-menu {
          a {
            color: #000;
          }
          .dropdown-item:hover {
            background: $mainColor;
            color: $secondColor;

          }
          background: #ffffff;
          color: #19264e;
        }

      }
      .navbar-toggler {
      }
    }
  }
  main {
    position: relative;
    min-height: 60vh;
    margin: 50px;
    background: #ffffff;
    h2 {
      font-family: "Trebuchet MS", sans-serif;
    }
    .main-info {
      img {
        width: 100%;
        height: 100%;
      }
      .col-8 {
        .join-us {
          width: 260px;
          display: block;
          margin: auto;
          text-align: center;
          font-family: "Segoe UI", sans-serif;
          font-size: 1.2rem;
          color: $secondColor;
          margin-top: 50px;
          padding: 10px 0;
          background: #4e993d;
          border: 2px solid #4e993d;
          border-radius: 5px;
          transition: ease .2s;
          &:focus {
            outline: none;
          }
          &:hover {
            text-decoration: none;
            background: #ffffff;
            color: #4e993d;
            transition: ease .2s;
            cursor: pointer;
          }
          &:active {
            transform: scale(.98);
            transition: ease .1s;
          }
        }
      }
    }
    // ------------------- META
    .main-meta {
      h2 {
        margin: auto;
        margin-bottom: 50px;
      }
    }
    // ------------- DIYALNIST

    .main-diyalnist {
      h2 {
        margin: auto;
        margin-bottom: 50px;
      }
      .diya-card {
        margin-bottom: 30px;
        img {
          max-width: 100%;
        }
      }
    }
    // ----------------- TEAM

    .main-team {
      h2 {
        margin: auto;
        margin-bottom: 50px;
      }
      .team-card {
        &:nth-child(odd) {
          text-align: right;
        }
        .col-4 {
          img {
            max-width:80%;
          }
        }
      }
    }
    // ---------------- DOCS

    .main-docs {
      h2 {
        margin: auto;
        margin-bottom: 10px;
      }
      p {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      .col-6 {
        text-align: center;
        h4 {
          margin-bottom: 30px;
        }
        a {
          display: block;
        }
        svg {
          width: 300px;
          transition: ease-out .3s;
          #XMLID_225_,
          #XMLID_234_ {
            transition: ease-out .3s;
          }
          &:hover {
            transform: scale(1.05);
            transition: ease-out .3s;
            #XMLID_225_,
            #XMLID_234_ {
              transform: translateY(-20px);
              transition: ease-out .3s;
            }
          }
        }
      }
    }
    // ---------------- NEWS NEWS NEWS NEWS NEWS

    .main-news {
      position: relative;
      h2 {
        position: absolute;
        z-index: 2;
        color: $secondColor;
        top: 50px;
        margin-left: 45%;
      }
      .project-slider {

        .project-slide {
          position: relative;
          height: 100vh;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .4);
          }
          &:focus {
            outline: none;
          }

          // ----------------------- NEWS / SLIDER CAPTION
          .project-slide-caption {
            color: $secondColor;
            position: absolute;
            height: 150px;
            width: 70%;
            top: 20%;
            left: 11%;
            text-shadow: none;
            font-size: 18px;
            padding: 20px 30px;
            &:after {
              content: '';
              position: absolute;
              width: 1px;
              height: 150%;
              left: 10px;
              top: 10px;
              opacity: .5;
              background: #ffffff;
            }
            h4 {
              font-size: 2rem;
              font-weight: 700;
              margin-top: 0;
            }
            p {
              font-family: "Fira Sans", sans-serif;
              font-weight: 300;
              font-size: 1rem;
            }
            a {
              color: $secondColor;
              font-family: "Fira Sans", sans-serif;
              font-weight: 300;
              font-size: 1rem;
              text-decoration: underline;
              &:hover {
                color: darken($secondColor, 20%);
              }
              &:visited,
              &:active,
              &:focus {
                color: inherit;
                outline: none;

              }
            }
          }
        }
        .project-slide1 {
          background: url('../news/news01.jpg') center no-repeat;
          background-size: cover;
        }
        .project-slide2 {
          background: url('../news/news02.jpg') center no-repeat;
          background-size: cover;
        }
        .project-slide3 {
          background: url('../news/news03.jpg') center no-repeat;
          background-size: cover;
        }
      }
      .project-slider-arrows { // ------------NEWS / ARROWS
        position: absolute;
        left: 0;
        height: 100vh;
        width: 100%;
        margin: 0;
        &:hover {
          cursor: pointer;
        }

        // ------------------------------- NEWS / LEFT ARROW
        .prev-project {
          position: relative;
          width: 80px;
          height: 80px;
          display: none;
          border: 1px solid $secondColor;
          opacity: .5;
          border-top: none;
          border-right: none;
          &.slick-arrow {
            display: block;
            position: absolute;
            left: 50px;
            transform: rotate(45deg);
            top: 33%;
            z-index: 2;
          }
        }
        // ------------------------- NEWS / RIGHT ARROW
        .next-project {
          width: 80px;
          height: 80px;
          display: none;
          border: 1px solid $secondColor;
          opacity: .5;
          border-left: none;
          border-bottom: none;
          &.slick-arrow {
            display: block;
            position: absolute;
            right: 50px;
            transform: rotate(45deg);
            top: 33%;
            z-index: 2;
          }
        }
      }
      // -------------------------- NEWS / SLIDER DOTS
      .project-slider-dots {
        display: none;
        padding: 0;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        li {
          list-style: none;
          display: inline-block;
          margin: 0 auto;
          padding: 0;
          button {
            list-style: none;
            font-size: 0;
            display: block;
            margin: 0 5px;
            padding: 0;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background: none;
            border: 1px solid $secondColor;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            transition: all ease-out .2s;
            &:focus {
              outline: none;
            }
            &:hover {
              transition: all ease-out .2s;
              transform: scale(1.3);
            }
          }
        }
        .slick-active button {
          transition: all ease-out .2s;
          background: $secondColor;
        }
      }
    }
    .custom-news {
      h2 {
        text-align: center;
        margin: 0 auto 50px;
      }
      p {
      }
      img {
        height: 100%;
        padding: 20px;
      }
    }
    // --------------- ASK

    .main-ask {
      h2 {
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
      }
      p {
        margin: 0 auto;
        display: block;
        width: 50%;
      }
      a {
        margin: 30px auto;
        width: 260px;
        display: block;
        text-align: center;
        font-family: "Segoe UI", sans-serif;
        font-size: 1.2rem;
        color: $secondColor;
        margin-top: 50px;
        padding: 10px 0;
        background: #4e993d;
        border: 2px solid #4e993d;
        border-radius: 5px;
        transition: ease .2s;
        &:focus {
          outline: none;
        }
        &:hover {
          text-decoration: none;
          background: #ffffff;
          color: #4e993d;
          transition: ease .2s;
          cursor: pointer;
        }
        &:active {
          transform: scale(.98);
          transition: ease .1s;
        }
      }
    }
    // --------------- FEEDBACK

    .main-feedback {
      h2 {
        margin: auto;
        margin-bottom: 50px;
      }
      .feedback-card {
        img {
          max-width: 100%;
        }
      }
    }

    // --------------- CONTACTS

    .contact-block {
      padding: 20px;
      top: 80px;
      left: 50px;
      position: absolute;
      z-index:2;
      background: $secondColor;
      box-shadow: 1px 1px 1px #aaa;
      h2 {
        text-align: center;
      }
      ul {
        list-style: none;
      }
    }
    .contact-map {
      height: 80vh;
      position: relative;
      .gm-style-pbt,
      .gm-style-pbc {
        display: none !important;
      }
      //div.gmnoprint,
      //div.gmnoscreen {
      //  display: none !important;
      //}
    }


    // ------------- PARTNERS

    .main-partners {
      h2 {
        margin: auto;
        margin-bottom: 30px;
      }
      .morpeh {
        text-align: center;
        .col-4 {
          margin-bottom: 30px;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  footer {
    background: $mainColor;
    color: $secondColor;
    .contacts-footer {
      padding: 15px 85px;
      p {
        font-size: .75rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}