body {
  font-family: "Segoe UI", sans-serif; }
  body header {
    font-family: "Segoe UI", sans-serif;
    height: 40vh;
    background: #19264e url("../img/bg-logo.png") right no-repeat;
    background-size: 30%;
    position: relative; }
    body header .contacts-top {
      padding-top: 30px;
      margin-left: 100px;
      color: #ffffff; }
      body header .contacts-top p {
        padding-right: 30px; }
    body header .main-header {
      margin: 0; }
    body header h1 {
      text-shadow: 0 0 10px #19264e;
      font-family: "Trebuchet MS", sans-serif;
      color: #ffffff;
      font-size: 2rem;
      margin: 3% auto 0;
      position: relative;
      text-align: right;
      display: inline-block; }
      body header h1 span {
        position: absolute;
        right: 0;
        top: -20px;
        font-size: 1rem; }
    body header .navbar {
      position: absolute;
      left: 100px;
      top: 70%;
      background: none; }
      body header .navbar .navbar-brand {
        font-size: 1rem;
        padding: 0 15px 0 0;
        margin: 0; }
      body header .navbar a {
        color: #ffffff; }
      body header .navbar .collapse {
        color: #ffffff; }
        body header .navbar .collapse .nav-item {
          font-size: 1rem;
          margin: 0;
          color: #ffffff; }
      body header .navbar .dropdown .dropdown-toggle:after {
        vertical-align: 0.05em; }
      body header .navbar .dropdown .dropdown-menu {
        background: #ffffff;
        color: #19264e; }
        body header .navbar .dropdown .dropdown-menu a {
          color: #000; }
        body header .navbar .dropdown .dropdown-menu .dropdown-item:hover {
          background: #19264e;
          color: #ffffff; }
  body main {
    position: relative;
    min-height: 60vh;
    margin: 50px;
    background: #ffffff; }
    body main h2 {
      font-family: "Trebuchet MS", sans-serif; }
    body main .main-info img {
      width: 100%;
      height: 100%; }
    body main .main-info .col-8 .join-us {
      width: 260px;
      display: block;
      margin: auto;
      text-align: center;
      font-family: "Segoe UI", sans-serif;
      font-size: 1.2rem;
      color: #ffffff;
      margin-top: 50px;
      padding: 10px 0;
      background: #4e993d;
      border: 2px solid #4e993d;
      border-radius: 5px;
      transition: ease .2s; }
      body main .main-info .col-8 .join-us:focus {
        outline: none; }
      body main .main-info .col-8 .join-us:hover {
        text-decoration: none;
        background: #ffffff;
        color: #4e993d;
        transition: ease .2s;
        cursor: pointer; }
      body main .main-info .col-8 .join-us:active {
        transform: scale(0.98);
        transition: ease .1s; }
    body main .main-meta h2 {
      margin: auto;
      margin-bottom: 50px; }
    body main .main-diyalnist h2 {
      margin: auto;
      margin-bottom: 50px; }
    body main .main-diyalnist .diya-card {
      margin-bottom: 30px; }
      body main .main-diyalnist .diya-card img {
        max-width: 100%; }
    body main .main-team h2 {
      margin: auto;
      margin-bottom: 50px; }
    body main .main-team .team-card:nth-child(odd) {
      text-align: right; }
    body main .main-team .team-card .col-4 img {
      max-width: 80%; }
    body main .main-docs h2 {
      margin: auto;
      margin-bottom: 10px; }
    body main .main-docs p {
      width: 50%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px; }
    body main .main-docs .col-6 {
      text-align: center; }
      body main .main-docs .col-6 h4 {
        margin-bottom: 30px; }
      body main .main-docs .col-6 a {
        display: block; }
      body main .main-docs .col-6 svg {
        width: 300px;
        transition: ease-out .3s; }
        body main .main-docs .col-6 svg #XMLID_225_,
        body main .main-docs .col-6 svg #XMLID_234_ {
          transition: ease-out .3s; }
        body main .main-docs .col-6 svg:hover {
          transform: scale(1.05);
          transition: ease-out .3s; }
          body main .main-docs .col-6 svg:hover #XMLID_225_,
          body main .main-docs .col-6 svg:hover #XMLID_234_ {
            transform: translateY(-20px);
            transition: ease-out .3s; }
    body main .main-news {
      position: relative; }
      body main .main-news h2 {
        position: absolute;
        z-index: 2;
        color: #ffffff;
        top: 50px;
        margin-left: 45%; }
      body main .main-news .project-slider .project-slide {
        position: relative;
        height: 100vh; }
        body main .main-news .project-slider .project-slide:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.4); }
        body main .main-news .project-slider .project-slide:focus {
          outline: none; }
        body main .main-news .project-slider .project-slide .project-slide-caption {
          color: #ffffff;
          position: absolute;
          height: 150px;
          width: 70%;
          top: 20%;
          left: 11%;
          text-shadow: none;
          font-size: 18px;
          padding: 20px 30px; }
          body main .main-news .project-slider .project-slide .project-slide-caption:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 150%;
            left: 10px;
            top: 10px;
            opacity: .5;
            background: #ffffff; }
          body main .main-news .project-slider .project-slide .project-slide-caption h4 {
            font-size: 2rem;
            font-weight: 700;
            margin-top: 0; }
          body main .main-news .project-slider .project-slide .project-slide-caption p {
            font-family: "Fira Sans", sans-serif;
            font-weight: 300;
            font-size: 1rem; }
          body main .main-news .project-slider .project-slide .project-slide-caption a {
            color: #ffffff;
            font-family: "Fira Sans", sans-serif;
            font-weight: 300;
            font-size: 1rem;
            text-decoration: underline; }
            body main .main-news .project-slider .project-slide .project-slide-caption a:hover {
              color: #cccccc; }
            body main .main-news .project-slider .project-slide .project-slide-caption a:visited, body main .main-news .project-slider .project-slide .project-slide-caption a:active, body main .main-news .project-slider .project-slide .project-slide-caption a:focus {
              color: inherit;
              outline: none; }
      body main .main-news .project-slider .project-slide1 {
        background: url("../news/news01.jpg") center no-repeat;
        background-size: cover; }
      body main .main-news .project-slider .project-slide2 {
        background: url("../news/news02.jpg") center no-repeat;
        background-size: cover; }
      body main .main-news .project-slider .project-slide3 {
        background: url("../news/news03.jpg") center no-repeat;
        background-size: cover; }
      body main .main-news .project-slider-arrows {
        position: absolute;
        left: 0;
        height: 100vh;
        width: 100%;
        margin: 0; }
        body main .main-news .project-slider-arrows:hover {
          cursor: pointer; }
        body main .main-news .project-slider-arrows .prev-project {
          position: relative;
          width: 80px;
          height: 80px;
          display: none;
          border: 1px solid #ffffff;
          opacity: .5;
          border-top: none;
          border-right: none; }
          body main .main-news .project-slider-arrows .prev-project.slick-arrow {
            display: block;
            position: absolute;
            left: 50px;
            transform: rotate(45deg);
            top: 33%;
            z-index: 2; }
        body main .main-news .project-slider-arrows .next-project {
          width: 80px;
          height: 80px;
          display: none;
          border: 1px solid #ffffff;
          opacity: .5;
          border-left: none;
          border-bottom: none; }
          body main .main-news .project-slider-arrows .next-project.slick-arrow {
            display: block;
            position: absolute;
            right: 50px;
            transform: rotate(45deg);
            top: 33%;
            z-index: 2; }
      body main .main-news .project-slider-dots {
        display: none;
        padding: 0;
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center; }
        body main .main-news .project-slider-dots li {
          list-style: none;
          display: inline-block;
          margin: 0 auto;
          padding: 0; }
          body main .main-news .project-slider-dots li button {
            list-style: none;
            font-size: 0;
            display: block;
            margin: 0 5px;
            padding: 0;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background: none;
            border: 1px solid #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            transition: all ease-out .2s; }
            body main .main-news .project-slider-dots li button:focus {
              outline: none; }
            body main .main-news .project-slider-dots li button:hover {
              transition: all ease-out .2s;
              transform: scale(1.3); }
        body main .main-news .project-slider-dots .slick-active button {
          transition: all ease-out .2s;
          background: #ffffff; }
    body main .custom-news h2 {
      text-align: center;
      margin: 0 auto 50px; }
    body main .custom-news img {
      height: 100%;
      padding: 20px; }
    body main .main-ask h2 {
      text-align: center;
      margin: auto;
      margin-bottom: 50px; }
    body main .main-ask p {
      margin: 0 auto;
      display: block;
      width: 50%; }
    body main .main-ask a {
      margin: 30px auto;
      width: 260px;
      display: block;
      text-align: center;
      font-family: "Segoe UI", sans-serif;
      font-size: 1.2rem;
      color: #ffffff;
      margin-top: 50px;
      padding: 10px 0;
      background: #4e993d;
      border: 2px solid #4e993d;
      border-radius: 5px;
      transition: ease .2s; }
      body main .main-ask a:focus {
        outline: none; }
      body main .main-ask a:hover {
        text-decoration: none;
        background: #ffffff;
        color: #4e993d;
        transition: ease .2s;
        cursor: pointer; }
      body main .main-ask a:active {
        transform: scale(0.98);
        transition: ease .1s; }
    body main .main-feedback h2 {
      margin: auto;
      margin-bottom: 50px; }
    body main .main-feedback .feedback-card img {
      max-width: 100%; }
    body main .contact-block {
      padding: 20px;
      top: 80px;
      left: 50px;
      position: absolute;
      z-index: 2;
      background: #ffffff;
      box-shadow: 1px 1px 1px #aaa; }
      body main .contact-block h2 {
        text-align: center; }
      body main .contact-block ul {
        list-style: none; }
    body main .contact-map {
      height: 80vh;
      position: relative; }
      body main .contact-map .gm-style-pbt,
      body main .contact-map .gm-style-pbc {
        display: none !important; }
    body main .main-partners h2 {
      margin: auto;
      margin-bottom: 30px; }
    body main .main-partners .morpeh {
      text-align: center; }
      body main .main-partners .morpeh .col-4 {
        margin-bottom: 30px; }
        body main .main-partners .morpeh .col-4 img {
          max-width: 100%; }
  body footer {
    background: #19264e;
    color: #ffffff; }
    body footer .contacts-footer {
      padding: 15px 85px; }
      body footer .contacts-footer p {
        font-size: .75rem;
        margin: 0;
        padding: 0; }

/*# sourceMappingURL=main.css.map */
