@import "item-masonry.css";

@font-face {
  font-family: 'big_johnregular';
  src: url('../fonts/big_john-webfont.woff2') format('woff2'),
  url('../fonts/big_john-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'slim_joeregular';
  src: url('../fonts/slim_joe-webfont.woff2') format('woff2'),
  url('../fonts/slim_joe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$mainColor: #3c4955;
$secondColor: #f9f9f9;
$accentColor: #48bf72; /*foliac color*/

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $secondColor;
}

header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  background: $mainColor url("../img/header.jpg") center no-repeat;
  background-size: cover;
  .header-menuRow {
    margin: 0 auto;
    height: 100px;
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    .header-menuRow-logo {
      height: 100%;
      width: 12%;
      top: 0;
      left: 0;
      background: url("../img/logo.png") no-repeat center;
      background-size: contain;

    }
    .header-menuRow-menuButton {
      width: 10%;
      display: block;
      position: relative;
      text-align: center;
      padding: .5%;
      transform: skewX(-18deg);
      &:nth-of-type(4):after,
      &:nth-of-type(5):after,
      &:nth-of-type(6):after {
        content: '';
        display: block;
        position: absolute;
        right: -20%;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 18px;
        height: 18px;
        border: 1px solid lighten($mainColor, 50%);
        color: $secondColor;
        opacity: .3;
      }
      &:hover {
        background-color: $accentColor;
      }
      a {
        display: block;
        color: $secondColor;
        text-decoration: none;
        font-family: "Lato Bold", sans-serif;
        font-size: 16px;
        font-weight: 700;
        transform: skewX(18deg);
      }
    }
  }
  .header-titleRow {
    text-align: center;
    text-transform: uppercase;
    color: $secondColor;
    width: 100%;
    height: calc(80vh - 100px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Big John", sans-serif;
      font-size: 40px;
      margin: 15px 0;
    }
    h2 {
      margin: 15px 0;
      font-family: "Slim Joe", sans-serif;
      font-weight: 300;
      font-size: 28px;
    }
    button {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: "Lato Bold", sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 36px;
      height: 40px;
      width: 140px;
      margin: 30px 0;
      background: none;
      color: $accentColor;
      border: 2px solid $accentColor;
      border-radius: 3px;
      cursor: pointer;
      &:focus {
        outline: none;
      }

      &:hover {
        background: rgba(72, 191, 114, .1);
      }
      &:active {
        background: $accentColor;
        transition: all ease .1s;
        color: $mainColor;
      }
    }
  }
}
main {
  .main-portfolio {
    margin: 0 auto;
    box-sizing: border-box;
    width: 80%;
    min-height: 50vh;
    text-align: center;
    .button {
      box-sizing: border-box;
      display: inline-block;
      padding: 0 30px;
      margin: 50px 0;
      background: #eaeaea;
      border: none;
      border-radius: 3px;
      color: $mainColor;
      font-family: "Lato Bold", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      cursor: pointer;
      &:hover {
        background: #dfdfdf;
      }
      &:focus,
      &:active,
      &.button.is-checked {
        background-color: $accentColor;
        color: white;
        outline: none;

      }
    }
    .grid {
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 50px;
      margin: 0 auto;
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      align-items: center;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .element-item {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        //float: left;
        //display: flex;
        width: 150px;
        height: 150px;
        border-radius: 5px;
        //position: relative;
        margin: 5px;
        overflow: hidden;
        img {
          //height: 100%;
          width: 100%;

        }
        & > * {
          margin: 0;
          padding: 0;
        }
      }
      .grid-item--width2 {
        width: 350px;
      }
      .grid-item--height2 {
        height: 310px;
      }
    }
  }
  .main-about {
    margin: 0 auto;
    box-sizing: border-box;
    background: url("../img/dude.jpg") fixed bottom no-repeat;
    background-size: cover;
    height: 70vh;
    text-align: center;
    overflow: auto;
    .main-about-infoAbout {
      width: 49%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      text-align: left;
      h2 {
        color: $secondColor;
        font-family: "Lato Bold", sans-serif;
        font-weight: 700;
        font-size: 30px;
        margin: 11% 0 0;
      }
      h3 {
        color: $secondColor;
        font-family: "Lato Regular", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        margin: 0;
      }
      p {
        color: $secondColor;
        font-family: "Lato Regular", sans-serif;
        font-weight: 400;
        font-size: 16px;
        width: 66.67%;
        line-height: 25px;
      }
      button {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Lato Bold", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        line-height: 36px;
        height: 40px;
        width: 140px;
        margin: 30px 0;
        background: none;
        color: $mainColor;
        border: 2px solid $mainColor;
        border-radius: 3px;
        cursor: pointer;
        &:focus {
          outline: none;
        }

        &:hover {
          color: $secondColor;
          border-color: $secondColor;
          background: rgba(63, 63, 64, 0.1);
        }
        &:active {
          background: $mainColor;
          transition: all ease .1s;
          color: darken($secondColor, 10%);
          border-color: darken($secondColor, 10%);
          background: rgba(170, 170, 173, 0.1);
        }
      }
    }
  }
  .main-contact {
    width: 100%;
    min-height: 50vh;
    h3 {
      margin: 40px 0;
      text-align: center;
      font-family: "Big John", sans-serif;
      color: $accentColor;
      font-size: 26px;

    }
    form {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 60%;
      margin: 0 auto;
      position: relative;
      .main-contact-input {
        position: relative;
        display: inline-block;
        width: 49%;
        padding: 7px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:last-of-type {
          width: 100%;
        }
        &:before {
          content: '';
          display: inline;
          position: absolute;
          top: 7px;
          left: 7px;
          width: 50px;
          height: 50px;
          background: $mainColor;
          z-index: 1;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: 2px solid $mainColor;
          border-radius: 4px;
          border-right: none;
        }
        svg {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          position: absolute;
          display: block;

          fill: #ffffff;
          fill-rule: evenodd;

          top: 22px;
          left: 21px;
          z-index: 2;
        }
        input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          height: 50px;
          width: 100%;
          //margin: 15px;
          padding-left: 70px;
          font-family: "Lato Bold", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: $mainColor;
          background: $secondColor;
          border: 2px solid $mainColor;
          border-radius: 4px;
          display: inline;

          &::placeholder {
            font-family: "Lato Bold", sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #a6a5a5;
          }
          &:focus {
            outline: none;
          }
        }
        textarea {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 98.5%;
          height: 225px;
          resize: none;
          margin: 0;
          padding: 15px 20px;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: $mainColor;
          background: $secondColor;
          border: 2px solid $mainColor;
          border-left: 50px solid $mainColor;
          border-radius: 4px;
          &::placeholder {
            font-family: "Lato Bold", sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #a6a5a5;
          }
          &:focus {
            outline: none;
          }
        }
      }
      button {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 50px;
        width: 97%;
        margin: 0 7px;
        background: $accentColor;
        color: $secondColor;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 10px;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:active {
          background: none;
          color: $accentColor;
          border: 2px solid $accentColor;
          transition: all ease .3s;
        }
      }
    }
  }
}

footer {
  height: 200px;
  background: $mainColor;
  color: $secondColor;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0 20%;
  p {
    float: left;
    margin-top: 90px;
    a {
      color: $secondColor;
      text-decoration: none;
      font-weight: 700;
      &:visited {
        color: inherit;
      }
    }
  }
  .social {
    margin-top: 70px;
    float: right;
    a {
      margin: 20px;
    }
  }

}